<Files ".htaccess">
Order Allow,Deny
Deny from all
</Files>

<Files "LS-common.php">
Order Allow,Deny
Deny from all
</Files>

<Files "LS-config.php">
Order Allow,Deny
Deny from all
</Files>

<Files "LS-function.php">
Order Allow,Deny
Deny from all
</Files>

<Directory "Mustache">
Order Allow,Deny
Deny from all
</Directory>

<Directory "FileSystem">
Order Allow,Deny
Deny from all
</Directory>

<Files "data/index.php-FORBIDDEN">
Order Allow,Deny
Deny from all
</Files>

ErrorDocument 404 index.php?404
ErrorDocument 403 index.php?403
ErrorDocument 500 index.php?500

RewriteEngine on
RewriteRule download\/([a-zA-Z0-9\-]*) LS-download.php?argu=$1 [NC,L]
RewriteRule ^Mustache? index.php?404 [L]
RewriteRule ^FileSystem? index.php?404 [L]
